<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISMDM_MSSQLSERVER.Properties.Settings.mdmdbConnectionString"
            connectionString="Data Source=(LocalDB)\bdmdm;Initial Catalog=mdmdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ISMDM_MSSQLSERVER.Properties.Settings.gusevaConnectionString"
            connectionString="Data Source=(LocalDB)\bdmdm;Initial Catalog=guseva;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>